__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Datasets (Do not push heavy images to GitHub)
dataset_raw/
dataset/

# Models (We will allow the 43MB PyTorch file to upload to Streamlit Cloud)

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
.spyderproject
